<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
</head>
<body>
<section class="be-safe section2">
    <header>
        <div class="text-container">
            <span class="section-title">Be safe</span>
            <h2>How to <span class="primary-color"> protect <br> yourself </span></h2>
        </div>
    </header>
    <div class="content">
        <div class="col">
            <div class="small-card">
                <header>
                    <h5>Wash your hands</h5>
                </header>
                <div class="text-content">
                    <p>
                        This is a basic yet highly
                        effective method to get rid off
                        any germs and stop spreading
                        them further
                    </p>
                </div>
                <div class="footer"></div>
            </div>
        </div>
        <div class="col">
            <div class="small-card">
                <header>
                    <h5>Don't Touch
                        Your Face</h5>
                </header>
                <div class="text-content">
                    <p>
                        Touching your face allows the
                        germs on your hands to get
                        into your eyes,mouth and nose,
                        infecting you
                    </p>
                </div>
                <div class="footer"></div>
            </div>
        </div>
        <div class="col">
            <div class="small-card">
                <header>
                    <h5>Avoid Sick
                        People</h5>
                </header>
                <div class="text-content">
                    <p>
                        Avoiding places where over
                        100 people gather minimizes
                        the risk of catching the virus
                        and getting sick
                    </p>
                </div>
                <div class="footer"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>