<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
</head>
<body>
<div th:fragment="modals">
    <div class="overlay-modal"></div>
    <div class="login-modal">
        <i class="fas fa-lock"></i>
        <form class="j-login-form" action="/user/login" method="POST">
            <div class="form-action">
                <label for="login-user"></label>
                <input type="text" name="username" class="login-user" placeholder="Email" required>
            </div>
            <div class="form-action">
                <label for="login-pass"></label>
                <input type="password" name="password" id="login-pass" placeholder="Password" required>
            </div>
            <span class="login-mesg">Invalid password or email.</span>
            <p>Forgot <a class="j-forgot" href="#">password?</a></p>
            <button class="btn j-button-login">Login</button>
        </form>
    </div>
    <div class="email-forgot-modal">
        <div class="content">
            <i class="fas fa-envelope"></i>
            <form class="j-forgot-email-form" method="POST">
                <div class="form-action">
                    <label for="email"></label>
                    <input type="text" name="email" placeholder="Email *" required>
                </div>
            </form>
            <button class="btn j-email-btn">Send email</button>
        </div>
        <p class="email-mesg"></p>
    </div>
    <div class="j-beatingheart-message holder-pulsingheart">
        <div id="pulsingheart"></div>
        <div class="j-go-to-section">
            <p class="notification-message hidden">We need volunteers: <span class="primary-color">10</span>
                people
                near you need your help <a class="section4" href="#"><span>sign up.</span></a></p>
        </div>
    </div>
</div>
</body>
</html>