/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
}
.body-padding-right {
  padding-right: 15px;
}
.body-overflow-hidden {
  overflow: hidden;
}
a,
button {
  outline: none;
}
a {
  color: #35ac39;
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}
button {
  padding: 0;
  border: none;
  background: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #252525;
  margin-top: 0rem;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-size: 5.5rem;
  padding-bottom: 3rem;
  margin-bottom: 0px;
  position: relative;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  overflow-wrap: break-word;
}

p {
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 2.8rem;
  margin-top: 1rem;
  color: #6e6e6e;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.primary-color {
  color: #35ac39;
}

.mobile-menu {
  display: none;
}
.nav-bar-mobile {
  display: none;
}
.section-title {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #35ac39;
  letter-spacing: 0.2rem;
  display: block;
  margin-bottom: 2rem;
}

.slide {
  width: 100%;
  height: 100vh;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.holder-pulsingheart-mobile {
  display: none;
}
.holder-pulsingheart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 0;
}

#pulsingheart {
  position: relative;
  margin-top: 1rem;
  animation: pulse 1s infinite;
}
#pulsingheart:hover {
  cursor: pointer;
}
#pulsingheart:before,
#pulsingheart:after {
  position: absolute;
  content: "";
  left: 15px;
  top: 0;
  width: 15px;
  height: 25px;
  background: #35ac39;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

#pulsingheart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

@keyframes pulsecolor {
  10% {
    background: #38c93d;
  }
}
p.notification-message {
  margin-top: 3.5rem;
  margin-left: 10rem;
}

.header-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 12rem;
  background-color: #fff;
}
.header-area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 120px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.header-area .logo-container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5rem;
}

.header-area .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation li {
  padding: 0 1rem;
}
.navigation li.active a span {
  color: #35ac39;
}
.navigation li a {
  display: block;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation li a:hover {
  color: #35ac39;
}
.login-container {
  cursor: pointer;
  position: relative;
  width: 50px;
  font-size: 2.2rem;
  color: #35ac39;
}

.login-container:hover {
  cursor: pointer;
}
.overlay-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.display-overlay-modal {
  display: block;
}
.login-modal {
  position: fixed;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 32rem;
  background-color: #fff;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #35ac39;
  z-index: 9999;
  overflow: hidden;
}

.login-modal i {
  font-size: 5rem;
}
.login-modal input[type="text"],
.login-modal input[type="password"],
.email-forgot-modal input[type="text"] {
  width: 19.2rem;
  height: 4rem;
  font-size: 1.3rem;
}
.login-modal input:focus,
.email-forgot-modal input:focus {
  border-left: 0.1rem solid #35ac39;
}

.login-modal .login-mesg {
  visibility: hidden;
  color: red;
  font-size: 1.1rem;
  margin-left: 1.3rem;
}
.login-modal .login-mesg-visible {
  visibility: visible;
}

.login-modal p {
  font-size: 1.2rem;
  margin-left: 1.3rem;
}
.login-modal .btn {
  width: 6rem;
  margin-top: 2rem;
  margin-left: 1rem;
  height: 3rem;
  padding: 0.1rem 1rem;
  font-size: 1.3rem;
}
.email-forgot-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
  height: 15rem;
  background-color: #fff;
  padding: 1.5rem;
  bottom: -45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #35ac39;
  z-index: 9999;
  overflow: hidden;
}
.forgot-bottom {
  visibility: visible;
  bottom: 35%;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.forgot-reverse-bottom {
  bottom: -45%;
}
.email-forgot-modal .content {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2.2rem;
}
.email-forgot-modal .content i {
  font-size: 3rem;
}
.email-forgot-modal .form-action {
  margin-left: 1rem;
}
.email-forgot-modal .btn {
  width: 9rem;
  margin-left: 1rem;
  height: 3rem;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
}
.email-forgot-modal .email-mesg {
  visibility: hidden;
  text-align: center;
  font-size: 1.2rem;
  height: 2.8rem;
  margin: 0;
  padding: 0;
}
.email-forgot-modal .email-mesg-visible {
  visibility: visible;
}
.error-color {
  color: red;
}

.hidden {
  display: none;
}

.frame {
  width: 100%;
  height: 700px;
}
.cover {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/cover.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover h2 {
  text-transform: capitalize;
  opacity: 0.9;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.frame .content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.frame .content h2 {
  color: #fff;
  line-height: calc(15rem + 1vw);
  z-index: 1;
}
.frame .content span {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: calc(1rem + 1vw);
  color: #35ac39;
  font-size: calc(19rem + 1vw);
  font-family: "Caveat", cursive;
}
.how-it-works {
  padding: 1rem 3rem;
  margin-top: 10rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.text-container h2 {
  text-transform: capitalize;
}
header .text-container {
  text-align: center;
}
.text-container h2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.4rem;
  width: 5%;
  background: #35ac39;
  margin: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
section:hover .text-container h2::before {
  width: 8%;
}
.how-it-works header {
  width: 100%;
}
.how-it-works .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3.2rem 0;
  width: 85%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.col {
  -webkit-box-flex: 0%;
  -ms-flex: 0%;
  flex: 0%;
  padding: 2rem;
}
.card {
  position: relative;
  min-width: 586px;
  min-height: 823px;
  padding: 5rem;
  border: 0.5rem solid #f5f8fa;
}
.how-it-works .card header h5 {
  display: block;
  position: relative;
  width: 16rem;
  height: 4rem;
}
.how-it-works .card header h5::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 25%;
  background: #35ac39;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.how-it-works .card:hover header h5::after {
  width: 100%;
}
.btn {
  position: relative;
  background-color: #35ac39;
  color: #fff;
  cursor: pointer;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 100;
  border-radius: 2rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  color: #000000;
  background-color: #fff;
  border: 0.2rem solid #35ac39;
}
.btn-card {
  position: absolute;
  bottom: 2rem;
}
.card .text-content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.card .image {
  position: relative;
  width: 100%;
  padding-top: 60%;
}
.card .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  top: 0;
  left: 0;
}
.be-safe {
  padding-bottom: 10rem;
}
.be-safe .content {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0;
}
.be-safe .content .col {
  max-width: 41.5rem;
  min-width: 41.5rem;
  padding: 2rem 2rem;
  margin: auto;
}
.be-safe .small-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  /* min-width: 31.5rem;
  max-width: 41.5rem; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 350px;
  border: 0.5rem solid #f5f8fa;
  border-bottom: none;
}
.small-card .footer {
  position: absolute;
  width: 103%;
  height: 5rem;
  background-color: #35ac39;
  bottom: 0;
}
.help {
  position: relative;
  width: 100%;
  height: 100%;
}
.help .overlay-modal {
  height: 500%;
}
.help .content,
.volunteer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5rem 0;
}
.help .col,
.volunteer .col {
  min-width: 46.6rem;
}
.help .col .container,
.volunteer .col .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.help .col .image,
.volunteer .col .image {
  position: relative;
  padding-top: 125%;
}
.help .col .image img,
.volunteer .col .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.success-modal {
  position: fixed;
  visibility: hidden;
  width: 37rem;
  height: 11.6rem;
  border-top: 2em solid #35ac39;
  padding: 1.5rem;
  text-align: center;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 9999;
  overflow: hidden;
}
.success-modal p {
  color: #35ac39;
}
.terms-modal {
  position: fixed;
  visibility: visible;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Need a specific value to work */
  height: 40rem;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5rem;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 9999;
}

.modal-visible-top {
  visibility: visible;
  top: 50%;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.modal-reverse-top {
  top: -50%;
}
label {
  display: none;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 60px;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.2rem solid #35ac39;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input.border-error-color {
  border-color: red;
}
textarea.border-error-color {
  border-color: red !important;
}
input.border-error-color:focus {
  border-color: red;
}
input:focus {
  border: 0.1rem solid #35ac39;
  border-left: 0.2rem solid #35ac39;
  border-bottom: 0.4rem solid #35ac39;
}
.terms-container {
  position: relative;
  margin: 2rem 0;
}
.terms-container p {
  font-size: 1.4rem;
}
.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.holder p {
  margin-left: 1rem;
}
.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5rem;
  height: 5rem;
}
.volunteer {
  margin: 10rem 0;
}

.volunteer .upload-id {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 10rem;
  margin-top: 1.5rem;
  height: 5rem;
}
.volunteer .upload-id .btn {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #000000;
  background-color: #fff;
  border: 0.2rem solid #35ac39;
}
input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}
.contact .content .col {
  min-width: 46.6rem;
}
.contact textarea {
  width: 100%;
  height: 30rem;
  margin: 1rem;
  margin-top: 5rem;
  padding: 1rem;
  font-size: 1.8rem;
  resize: vertical;
  border: 0.2rem solid #35ac39;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contact .btn {
  margin: 1rem;
  height: 4.1rem;
}
.contact-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}
.contact-info .container .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 1rem;
}
.contact-info .container span {
  font-size: 1.6rem;
  color: #35ac39;
  letter-spacing: 0.5rem;
  margin-left: 1rem;
}

.contact-info .container .circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #35ac39;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact-info .container:hover .circle {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.contact-info .container .circle::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
}
.contact-info .container .circle.phone::after {
  content: "\f879";
}
.contact-info .container .circle.email::after {
  content: "\f0e0";
}
footer {
  text-align: center;
}

.scroll-up {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  width: 5rem;
  bottom: 1.5rem;
  height: 5rem;
  right: 1rem;
  border-radius: 50%;
  background-color: #35ac39;
  color: #fff;
  -webkit-transform: translateZ(0);
  z-index: 9999;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
}
.show-scroll-up {
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  opacity: 1;
}

.danger,
.error,
.alert {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 0;
  color: red;
}
.info {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 0.5rem;
  color: #35ac39;
}
.grecaptcha-badge {
  width: 7rem !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 1rem !important;
  bottom: 1rem !important;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}

.grecaptcha-badge:hover {
  width: 25.6rem !important;
}
.wrapper-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: #f2f3f7;
}
.wrapper-error {
  text-align: center;
}
.wrapper-error .section-title {
  color: red;
}
.wrapper-error h2 {
  padding-bottom: 1rem;
}
.wrapper-error .btn {
  margin-top: 3rem;
  height: 4.1rem;
}

@media screen and (min-width: 320px) and (max-width: 669px) {
  /* resets */
  .alert {
    font-size: 1.3rem;
  }
  .header-area .container {
    display: none;
  }

  .how-it-works {
    padding: 0;
  }
  .col {
    padding: 0;
  }
  .card .image img {
    padding: 0;
  }
  .be-safe .content {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .be-safe .content .col {
    min-width: 0;
    max-width: 0;
  }
  .help .col,
  .volunteer .col {
    min-width: 0;
  }
  .contact .content .col {
    min-width: 0;
  }
  h2 {
    font-size: 3.6rem;
  }

  .btn {
    padding: 0.9rem 2rem;
    font-weight: 900;
  }

  .nav-bar-mobile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 7.2rem;
    background-color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
  }
  .nav-bar-mobile i {
    font-size: 2.4rem;
  }

  .header-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 40rem;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 350px;
    z-index: 1;
    background-color: #fff;
  }
  .mobile-menu nav {
    width: 100%;
  }

  .login-container {
    width: 100%;
    margin-right: 1.5rem;
  }
  .holder-pulsingheart {
    display: none;
  }
  .holder-pulsingheart-mobile {
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    height: 100%;
  }
  p.notification-message {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    top: 3rem;
    padding-left: 1rem;
    line-height: 1.5;
    text-align: center;
    background-color: #fff;
    z-index: 2;
  }
  #pulsingheart:before,
  #pulsingheart:after {
    top: 1.3rem;
  }

  .logo-container h4 {
    font-size: 1.8rem;
  }
  .header-area .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4.6rem;
  }
  .navigation li {
    height: 4.6rem;
  }
  .frame .content h2 {
    line-height: 6rem;
  }

  .frame .content span {
    font-size: 9rem;
  }
  .how-it-works {
    padding: 3rem 0;
  }
  .how-it-works .col {
    min-width: 31.8rem;
  }
  .how-it-works .content {
    width: 100%;
  }
  .how-it-works .card header h5 {
    margin-top: 1.5rem;
  }

  .card {
    min-width: 0;
    padding: 1rem;
    margin-bottom: 2.5rem;
  }
  .card .image {
    width: 97%;
  }
  .be-safe .content .col {
    min-width: 30rem;
  }
  .be-safe .small-card {
    padding: 1.5rem;
  }
  .help .container p,
  .volunteer .container p {
    margin-left: 0.8rem;
  }
  .help .content,
  .volunteer .content {
    width: 100%;
  }
  .help .content .col,
  .volunteer .content .col {
    min-width: 30rem;
  }
  .help .holder,
  .volunteer .holder {
    width: 90%;
    margin: auto;
  }
  .terms-modal {
    width: 80%;
    padding: 2rem;
  }
  .terms-modal p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .contact .content {
    width: 90%;
  }
  .contact .content .col {
    min-width: 30rem;
  }
  .contact .btn {
    margin: 1rem;
  }
  .contact-info .container .circle {
    width: 5rem;
    height: 5rem;
  }
  input[type="text"],
  input[type="password"] {
    width: 90%;
    font-size: 1.2rem;
    letter-spacing: -0.1.9rem;
  }
  .contact input[type="text"],
  input[type="password"] {
    width: 80%;
    font-size: 1.4rem;
  }

  .contact textarea {
    width: 85%;
  }
  .header-area {
    height: 7.2rem;
  }
  .mobile-menu {
    display: none;
  }
  .show-flex-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-area-height {
    height: 40rem;
  }

  .scroll-up {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  .grecaptcha-badge {
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
    bottom: 1rem !important;
    overflow: hidden !important;
  }
  .grecaptcha-badge:hover {
    width: 256px !important;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .login-container,
  .frame .content span {
    color: #35ac39;
  }
  .btn,
  .small-card .footer {
    background-color: #35ac39;
  }
  input[type="text"],
  input[type="password"] {
    border-bottom: 0.2rem solid #35ac39;
  }
  input:focus {
    border: 0.1rem solid #35ac39;
    border-left: 0.2rem solid #35ac39;
    border-bottom: 0.4rem solid #35ac39;
  }
  .header-area .container {
    width: 65%;
  }
  nav {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
  }

  .how-it-works .content {
    min-width: 85%;
    width: 100%;
  }
  .card {
    min-width: 450px;
    width: 100%;
    min-height: 823px;
    height: 100%;
  }
  .be-safe .content .col {
    width: 100%;
  }
  .be-safe .small-card {
    height: 100%;
  }

  .small-card .text-content {
    width: 100%;
  }
  .small-card .footer {
    width: 102%;
    left: -0.3rem;
  }
  .circle {
    background-color: #35ac39;
  }
  .contact-info .container span {
    color: #35ac39;
  }
  .contact-info .container .circle.phone::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.5rem;
    margin: auto;
    height: 30px; /*requires explicit height*/
  }
  .contact-info .container .circle.email::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.5rem;
    margin: auto;
    height: 30px; /*requires explicit height*/
  }
}
@supports (-ms-ime-align: auto) {
  /* IE Edge CSS styles go here */
  nav {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 670px) and (max-width: 1000px) {
  /* resets */
  .header-area .container {
    display: none;
  }

  .how-it-works {
    padding: 0;
  }
  .col {
    padding: 0;
  }
  .card .image img {
    padding: 0;
  }
  .be-safe .content .col {
    min-width: 0;
    max-width: 0;
  }
  .help .col,
  .volunteer .col {
    min-width: 0;
  }
  .contact .content .col {
    min-width: 0;
  }
  h2 {
    font-size: 3.5rem;
  }
  /* end */

  .nav-bar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 7.2rem;
    background-color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 3rem;
  }
  .nav-bar-mobile i {
    font-size: 3rem;
  }
  .login-container i {
    font-size: 2.5rem;
    margin-right: 4rem;
  }
  .holder-pulsingheart {
    display: none;
  }
  .holder-pulsingheart-mobile {
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    height: 100%;
  }
  p.notification-message {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    top: 3rem;
    padding-left: 1rem;
    line-height: 1.5;
    text-align: center;
    background-color: #fff;
    z-index: 2;
  }
  #pulsingheart:before,
  #pulsingheart:after {
    top: 1.3rem;
  }

  .header-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 7rem;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 350px;
    z-index: 1;
    background-color: #fff;
    width: 100%;
  }
  .mobile-menu nav {
    width: 100%;
  }

  .header-area .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4.6rem;
  }
  .navigation li {
    height: 4.6rem;
  }
  .login-container {
    width: 100%;
    margin-left: 1rem;
  }
  .frame .content h2 {
    font-size: 3.5rem;
    line-height: 9rem;
  }
  .frame .content span {
    font-size: 10rem;
    top: 3rem;
  }
  .how-it-works {
    padding: 3rem 0;
  }
  .how-it-works .col {
    min-width: 62rem;
  }
  .how-it-works .content {
    width: 95%;
  }
  .how-it-works .card header h5 {
    margin-top: 1.5rem;
  }

  .card {
    min-width: 0;
    min-height: 90.7rem;
    padding: 1rem;
    margin-bottom: 2.5rem;
  }
  .be-safe .content .col {
    min-width: 35.8rem;
  }
  .be-safe .small-card {
    padding: 1.5rem;
  }
  .help .content,
  .volunteer .content {
    width: 85%;
  }
  .help .content .col,
  .volunteer .content .col {
    min-width: 43rem;
  }
  .contact .content {
    width: 85%;
  }
  .contact .content .col {
    min-width: 31.8rem;
  }

  .mobile-menu {
    display: none;
  }

  .show-flex-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-area-height {
    height: 40rem;
  }
}
