/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #35ac39;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
}
a,
button {
  outline: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}
button {
  padding: 0;
  border: none;
  background: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #252525;
  margin-top: 0rem;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-size: 5.5rem;
  padding-bottom: 3rem;
  margin-bottom: 0px;
  position: relative;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  overflow-wrap: break-word;
}

p {
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 2.8rem;
  margin-top: 1rem;
  color: #6e6e6e;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.primary-color {
  color: var(--main-color);
}

@media screen and (max-width: 100vw) and (min-width: 320px) {
  .btn {
    position: relative;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    border-radius: 2rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .btn:hover {
    color: #000000;
    background-color: #fff;
    border: 0.2rem solid var(--main-color);
  }
  .header-area {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 7.2rem;
  }
  .nav-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    height: 100%;
    padding: 0rem 3rem;
    margin: auto;
  }
  .logo-container h4 {
    font-size: 1.5rem;
  }
  .status {
    max-width: 30%;
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 5.2rem;
    text-align: center;
  }
  .status p {
    font-size: 1.3rem;
    line-height: 1.1rem;
  }
  .status p:hover {
    cursor: pointer;
  }
  .settings i {
    font-size: 2rem;
    color: var(--main-color);
  }
  .content {
    width: 95%;
    max-width: 100rem;
    height: 100%;
    padding: 5rem 1rem;
    margin: 0 auto;
  }
  .text-container {
    text-align: center;
    padding-bottom: 5rem;
  }
  .section-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #35ac39;
    letter-spacing: 0.2rem;
    display: block;
    margin-bottom: 2rem;
  }
  .text-container h2 {
    font-size: 3rem;
    letter-spacing: -1px;
  }

  .text-container h2::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.4rem;
    width: 20%;
    background: #35ac39;
    margin: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .sub-menu li a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: #000000;
    position: relative;
  }
  .sub-menu li.active a {
    color: var(--main-color);
  }
  .sub-menu li.active a::after {
    color: var(--main-color);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    width: 25%;
    background: #35ac39;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .container-people p {
    margin-top: 3rem;
    font-size: 1.3rem;
    line-height: 1;
  }
  .holder-people {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2.5rem;
    border: 0.1rem solid var(--main-color);
  }
  .holder-people span {
    font-size: 1.4rem;
  }

  .distance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 0.1rem solid var(--main-color);
  }
  .distance span {
    font-size: 1.2rem;
  }
  .name {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4.5rem;
    border-right: 0.1rem solid var(--main-color);
  }
  .telephone-number {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 0.1rem solid var(--main-color);
  }
  .started-helping {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .started-helping button:hover {
    cursor: pointer;
  }
  .btn-helping {
    font-size: 1.4rem;
    color: var(--main-color);
  }
  .btn-helping-stop {
    font-size: 1.4rem;
    color: red;
  }
  .stop-helping {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .load-more-container {
    margin-top: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .load-more a {
    position: relative;
    width: 100%;
    text-align: center;
  }
  footer {
    text-align: center;
  }
}

@media screen and (max-width: 100vw) and (min-width: 640px) {
  .status {
    margin-top: 0;
    font-size: 1.4rem;
  }
  .status p {
    margin-top: 0;
  }
}

@media screen and (max-width: 100vw) and (min-width: 1000px) {
  .logo-container h4 {
    font-size: 2.5rem;
  }
  .settings i {
    font-size: 2.2rem;
  }
  .status p {
    font-size: 1.7rem;
  }
  .section-title {
    font-size: 1.6rem;
  }

  .text-container h2 {
    font-size: 4rem;
  }
  .text-container h2::before {
    width: 10%;
  }
  .sub-menu li a {
    font-size: 2rem;
  }
  .sub-menu li a:hover {
    color: var(--main-color);
  }
  .container-people p {
    font-size: 1.7rem;
  }
  .holder-people span {
    font-size: 1.5rem;
  }
  .started-helping button {
    font-size: 1.5rem;
  }
  .load-more-container {
    height: 7.1rem;
  }
  .btn {
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  footer {
    margin-top: 3rem;
  }
}
