<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <title>404</title>
</head>

<body>
  <div class="wrapper-404">
    <div class="message">
      <h2>Error 404</h2>
      <h2>Not found</h2>
      <p>You may have mis-typed the URL</p>
      <P>Or the page has been removed</P>
      <p>Actually there is nothing to see here...</p>
      <p>Click on the link below to do something. Thanks</p>
    </div>
    <a class="btn" href="/src/main/resources/templates/index.html">Home</a>
  </div>
</body>

</html>