<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Covid-19 Help</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrapper">
        <div class="overlay-modal"></div>
        <div class="login-modal">
            <i class="fas fa-lock"></i>
            <form class="j-login-form" action="http://localhost:8080/user/login" method="POST">
                <div class="form-action">
                    <label for="login-user"></label>
                    <input type="text" name="username" id="login-user" placeholder="Username" required>
                </div>
                <div class="form-action">
                    <label for="password"></label>
                    <input type="password" name="password" id="login-pass" placeholder="Password" required>
                </div>
                <span class="login-mesg">Invalid password or email.</span>
                <p>Forgot <a class="j-forgot" href="#">password?</a></p>
                <button class="btn j-button-login">Login</button>
            </form>
        </div>
        <div class="email-forgot-modal">
            <div class="content">
                <i class="fas fa-envelope"></i>
                <form class="j-forgot-email-form" method="POST">
                    <div class="form-action">
                        <label for="email"></label>
                        <input type="text" name="email" placeholder="Email *" required>
                    </div>
                </form>
                <button class="btn j-email-btn">Send email</button>
            </div>
            <p class="email-mesg"></p>
        </div>
        <header class="header-area">
            <div class="nav-bar-mobile">
                <div class="logo-container">
                    <h4>Covid-19 Help</h4>
                </div>
                <i class="bars fas fa-bars"></i>
            </div>
            <div class="mobile-menu">
                <nav>
                    <ul class="navigation">
                        <li class="active"><a href="#">How it works</a></li>
                        <li><a href="#">Be safe</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Volunteer</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <div class="login-container j-modal-mobile-btn">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <div class="container">
                <div class="logo-container">
                    <h4>Covid-19 Help</h4>
                </div>
                <nav>
                    <ul class="navigation">
                        <li class="active"><a href="#">How it works</a></li>
                        <li><a href="#">Be safe</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Volunteer</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <div class="login-container j-modal-desktop-btn">
                    <i class="fas fa-user"></i>
                </div>
            </div>
        </header>
        <section class="frame">
            <div class="cover">
                <div class="overlay"></div>
                <div class="content">
                    <h2>Helping humanity</h2>
                    <span>together</span>
                    <h2>during the covid 19 outbreak</h2>
                </div>
            </div>
        </section>
        <section class="how-it-works">
            <header>
                <div class="text-container">
                    <span class="section-title">How it works</span>
                    <h2>Helping neighbors</h2>
                </div>
            </header>
            <div class="content">
                <div class="col">
                    <div class="card">
                        <header>
                            <div class="image">
                                <img src="../static/images/old-people-street.jpg"
                                    alt="old people talking on the street">
                            </div>
                            <h5>High risk to virus</h5>
                        </header>
                        <div class="text-content">
                            <p>If you are a person higher risk, meaning that you have above 60 or you have other
                                high-risk to this
                                virus, you need to stay
                                inside your house. Because of this you will need somebody to get your groceries, pick up
                                prescriptions,
                                and need to know
                                that you are not alone in this outbreak.
                            </p>
                            <p>After you <b>signup for free</b> to our website, a volunteer from your neighbourhood will
                                see that
                                you need
                                help and he will
                                call in order to establish a connection.
                            </p>
                        </div>
                        <a href="#" class="btn btn-card">I want help</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <header>
                            <div class="image">
                                <img src="../static/images/young-peeps.jpg" alt="young people walking">
                            </div>
                            <h5>Low risk to virus</h5>
                        </header>
                        <div class="text-content">
                            <p>If you are a person with lower risk, meaning that you have below 60 you can help elders
                                or other
                                high-risk
                                neighbors in community who needs to maintain social distancing in this outbreak.
                            </p>
                            <p>After you complete the
                                process of
                                registration, you will see high risk people who lives nearby wich they need your help to
                                get groceries,
                                pick up
                                prescriptions, and checking in every couple of day's. In order to comunicate with them
                                you
                                will recive
                                there number so you
                                are able to establish a connection.
                            </p>
                        </div>
                        <a href="#" class="btn btn-card">I can help</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="be-safe">
            <header>
                <div class="text-container">
                    <span class="section-title">Be safe</span>
                    <h2>How to <span class="primary-color"> protect <br> yourself </span></h2>
                </div>
            </header>
            <div class="content">
                <div class="col">
                    <div class="small-card">
                        <header>
                            <h5>Wash your hands</h5>
                        </header>
                        <div class="text-content">
                            <p>
                                This is a basic yet highly
                                effective method to get rid off
                                any germs and stop spreading
                                them further
                            </p>
                        </div>
                        <div class="footer"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="small-card">
                        <header>
                            <h5>Don't Touch
                                Your Face</h5>
                        </header>
                        <div class="text-content">
                            <p>
                                Touching your face allows the
                                germs on your hands to get
                                into your eyes,mouth and nose,
                                infecting you
                            </p>
                        </div>
                        <div class="footer"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="small-card">
                        <header>
                            <h5>Avoid Sick
                                People</h5>
                        </header>
                        <div class="text-content">
                            <p>
                                Avoiding places where over
                                100 people gather minimizes
                                the risk of catching the virus
                                and getting sick
                            </p>
                        </div>
                        <div class="footer"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="help">
            <header>
                <div class="text-container">
                    <span class="section-title">Help</span>
                    <h2>Signup to <br> <span class="primary-color">receive help</span> </h2>
                </div>
            </header>
            <div class="content">
                <div class="col">
                    <div class="image">
                        <img src="../static/images/want-help.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="container">
                        <p>In order to get help, you need to complete the form below so a volunteer from your
                            neighbourhood can
                            contact
                            you.</p>
                        <form action="submit">
                            <div class="form-action">
                                <label for="a-0-2">name</label>
                                <input id="a-0-2" type="text" placeholder="Name *" required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-3">email</label>
                                <input id="a-0-3" type="text" placeholder="Email *" required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-4">adress</label>
                                <input id="a-0-4" type="text" placeholder="Insert address (autofilled by google maps) *"
                                    required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-5">phone number</label>
                                <input id="a-0-5" type="text" placeholder="Phone Number *" required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-6">zip code</label>
                                <input id="a-0-6" type="text" placeholder="Zip-Code *" required>
                            </div>
                            <div class="terms-container">
                                <div class="holder">
                                    <input id="a-0-7" type="checkbox" required>
                                    <p>I have read and agree to the <a href="">Terms of service</a></p>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="btn btn-primary" type="submit">Submit Form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="volunteer">
            <header>
                <div class="text-container">
                    <span class="section-title">Volunteer</span>
                    <h2><span class="primary-color">Your <br>Help</span> is needed</h2>
                </div>
            </header>
            <div class="content">
                <div class="col">
                    <div class="image">
                        <img src="../static//images/volunteer.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="container">
                        <p>Fill out the form to find a
                            high-risk neighbor in your area</p>
                        <form action="submit">
                            <div class="form-action">
                                <label for="a-0-50">name</label>
                                <input id="a-0-50" type="text" placeholder="Name *" required>
                            </div>
                            <div class="form-action">
                                <label for="a-1-23">password</label>
                                <input id="a-1-23" type="password" placeholder="Password *"
                                    autocomplete="current-password" required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-30">email</label>
                                <input id="a-0-30" type="text" placeholder="Email *" autocomplete="current-email"
                                    required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-40">adress</label>
                                <input id="a-0-40" type="text"
                                    placeholder="Insert address (autofilled by google maps) *" required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-51">phone number</label>
                                <input id="a-0-51" type="text" placeholder="Phone Number *" required>
                            </div>
                            <div class="form-action">
                                <label for="a-0-60">zip code</label>
                                <input id="a-0-60" type="text" placeholder="Zip-Code *" required>
                            </div>
                            <div class="upload-id">
                                <label for="a-0-21">upload id</label>
                                <button class="btn">Upload ID</button>
                                <input id="a-0-21" type="file" required>
                            </div>
                            <div class="terms-container">
                                <div class="holder">
                                    <input id="a-0-70" type="checkbox" required>
                                    <p>I have read and agree to the <a href="">Terms of service</a></p>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="btn btn-primary" type="submit">Submit Form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <header>
                <div class="text-container">
                    <span class="section-title">Contact</span>
                    <h2>Questions, Sugesstions <br> <span class="primary-color">write to us :)</span> </h2>
                </div>
            </header>
            <div class="content">
                <div class="col">
                    <div class="contact-info">
                        <div class="container">
                            <div class="circle phone"></div>
                            <div class="holder">
                                <span>Phone:</span>
                                <p>(555) 545-2679</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="circle email"></div>
                            <div class="holder">
                                <span>Email:</span>
                                <p>dgoosdagle.ro</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <form action="submit">
                        <div class="form-action">
                            <label for="a-0-17">name</label>
                            <input id="a-0-17" type="text" placeholder="Name *" required>
                        </div>
                        <div class="form-action">
                            <label for="a-0-18">email</label>
                            <input id="a-0-18" type="text" placeholder="Email *" required>
                        </div>
                        <div class="form-action">
                            <label for="a-0-19">Notes</label>
                            <textarea id="a-0-19" placeholder="Notes *"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Send message</button>
                    </form>
                </div>
        </section>
        <footer>
            <p>Copyright 2020</p>
        </footer>
    </div>
    <!-- Js Here -->
    <!--    <script src="http://localhost:8080/webjars/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../static/js/js.js"></script>
    <script src="https://kit.fontawesome.com/210d8f95c9.js"></script>
    <script src="../static/js/css-vars-ponyfill.js"></script>
    <a href="#" class="scroll-up">
        <i class="fas fa-chevron-up"></i>
    </a>

</body>

</html>