<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title th:text="#{site.title}">COVID19 Help</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="./../static/css/main.css">
    <link rel="stylesheet" href="./../static/css/normalize.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <meta property="og:url" content="https://covid19helpusa.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="COVID19HELP USA"/>
    <meta property="og:description" content="Would you like to be an essential worker? Help someone in your community
    today! This is about COVID19 high risk and low risk individuals. Our match service offers an opportunity for low risk volunteers
    to help their neighbors who are at high risk (elderly and underlying medical conditions) with daily chores such as: picking up groceries,
    prescriptions or simply checking in every couple of days.
Find out more and help spread the word: https://covid19helpusa.com/#"/>
    <meta property="og:image" content="https://covid19helpusa.com/images/cover.jpeg"/>

</head>

<body>
<div class="wrapper">
    <div th:insert="index/modals"></div>
    <header th:replace="index/header"></header>
    <section class="frame">
        <div class="cover">
            <div class="overlay"></div>
            <div class="content">
                <h2>Helping humanity</h2>
                <span>together</span>
                <h2>during the COVID19 outbreak</h2>
            </div>
        </div>
    </section>
    <section th:replace="index/how-it-works-section"></section>
    <section th:replace="index/be-safe-section"></section>
    <section th:replace="index/user-section"></section>
    <section th:replace="index/volunteer-section"></section>
    <section th:replace="index/contact-section"></section>
    <footer>
        <p>Copyright 2020 COVID19HELPUSA.COM</p>
    </footer>
</div>
<!--    CSRF TOKEN-->
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<!--    END OF CSRF TOKEN-->

<meta id="registrationSuccessful" th:content="${registrationSuccessful}">
<meta id="volunteerPage" content="/volunteer/need-help">
<meta id="countUsers" content="/user/in-range">
<meta id="message-phone-required" th:content="#{messages.errors.phone.required}">
<meta id="message-checkbox-required" th:content="#{messages.errors.checkbox.required}">
<meta id="message-generic-required" th:content="#{messages.errors.generic.required}">
<meta id="message-generic-min" th:content="#{messages.errors.generic.min}">
<meta id="message-password-validation" th:content="#{messages.errors.password.validation}">
<meta id="message-address-validation" th:content="#{messages.errors.address.validation}">

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="https://kit.fontawesome.com/210d8f95c9.js"></script>

<!-- Js on local frontend -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="../static/js/googleApi.js"></script>
<script src="../static/js/validation.js"></script> &ndash;&gt;
<script src="../static//js/js.js"></script> &ndash;&gt; -->

<script th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script th:src="@{/js/googleApi.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/js.js}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdz1fMSn6wBaDR53GMpTTIv44_EJc4Pqs&libraries=places&callback=initAutocomplete"
        async defer></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallbackCaptcha&render=6LeeiOoUAAAAAGKVCsmtdES0wF5kcHjkzxTRrRhR"></script>

<a href="#" class="scroll-up">
    <i class="fas fa-chevron-up"></i>
</a>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165400143-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-165400143-1');
</script>

</body>
</html>