<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recover password</title>
  <link href="../static/css/recover-password.css" th:href="@{/css/main.css}" rel="stylesheet" />
  <link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="wrapper">
    <div class="overlay-modal"></div>
    <div class="login-modal">
      <i class="fas fa-lock"></i>
      <form class="j-login-form" action="/user/login" method="POST">
        <div class="form-action">
          <label for="login-user"></label>
          <input type="text" name="username" class="login-user" placeholder="Email" required />
        </div>
        <div class="form-action">
          <label for="password"></label>
          <input type="password" name="password" class="login-pass" placeholder="Password" required />
        </div>
        <span class="login-mesg">Invalid password or email.</span>
        <p>Forgot <a class="j-forgot" href="#">password?</a></p>
        <button class="btn j-button-login">Login</button>
      </form>
    </div>
    <div class="email-forgot-modal">
      <div class="content">
        <i class="fas fa-envelope"></i>
        <form class="j-forgot-email-form" method="POST">
          <div class="form-action">
            <label for="email"></label>
            <input type="text" name="email" placeholder="Email *" required />
          </div>
        </form>
        <button class="btn j-email-btn">Send email</button>
      </div>
      <p class="email-mesg"></p>
    </div>
    <header class="header-area">
      <div class="nav-bar"></div>
      <nav class="menu">
        <div class="logo-container">
          <h4><a href="./index.html">Covid-19 Help</a></h4>
        </div>
        <div class="user-icon-container">
          <div class="login-container j-modal-desktop-btn j-modal-mobile-btn">
            <i class="fas fa-user" aria-hidden="true"></i>
          </div>
        </div>
      </nav>
    </header>
    <div class="content-container">
      <div class="col">
        <div class="reset-password">
          <div class="container-inputs">
            <h5>Reset your password</h5>
            <form id="j-recovery-password" action="">
              <input id="password" class="password" type="password" th:value="*{password}" name="password"
                placeholder="Your new password *" th:classappend="${#fields.hasErrors('password')} ? 'border-error-color' : ''"
                  autocomplete="old-password"
                  required
                />
                <input
                  class="password"
                  type="password"
                  th:value="*{password}"
                  name="passwordConfirm"
                  placeholder="Repeat password *"
                  th:classappend="${#fields.hasErrors('password')} ? 'border-error-color' : ''"
                  autocomplete="current-password"
                  required
                />
                <p class="info">
                  Your password must contain minim 6 characters.
                </p>
                <p
                  class="alert alert-danger"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                ></p>
                <div class="load-more-container">
                  <a class="btn" href="#">reset</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="overlay-container">
            <div class="card-overlay login-overlay">
              <h2>Hello!</h2>
              <p>Login with your new password</p>
              <div class="load-more-container j-login-desktop">
                <a class="btn" href="#">Login</a>
                <i class="fas fa-arrow-right hidden"></i>
              </div>
            </div>
            <div class="card-overlay reset-password-overlay hidden">
              <h2>Reset Password!</h2>
              <p>Wrong password, don't worry click on the button below</p>
              <div class="load-more-container j-reset-password">
                <a class="btn" href="#">Reset password</a>
                <i class="fas fa-arrow-right hidden"></i>
              </div>
            </div>
          </div>
          <div class="login-modal-desktop">
            <i class="fas fa-lock"></i>
            <form class="j-login-form" action="/user/login" method="POST">
              <div class="form-action">
                <label for="login-user"></label>
                <input
                  type="text"
                  name="username"
                  class="login-user"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-action">
                <label for="password"></label>
                <input
                  type="password"
                  name="password"
                  class="login-pass"
                  placeholder="Password"
                  required
                />
              </div>
              <span class="login-mesg">Invalid password or email.</span>
              <div class="holder-btn">
                <button class="btn j-button-login">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer>
        <p>Copyright 2020</p>
      </footer>
    </div>
    <!-- Js Here -->
    <script src="https://kit.fontawesome.com/210d8f95c9.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="../static/js/recover-password.js"></script>
    <script src="../static/js/js.js"></script>
  </body>
</html>