<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/register}" method="post" th:object="${userRegisterDto}">
    <input type="text" name="firstName" th:value="*{firstName}" placeholder="First name"/>
    <input type="text" name="lastName" th:value="*{lastName}" placeholder="First name"/>
    <input type="text" name="phoneNumber" th:value="*{phoneNumber}" placeholder="Phone number"/>
    <input type="text" name="email" th:value="*{email}" placeholder="Email"/>
    <input type="password" name="password" th:value="*{password}" placeholder="Password"/>
    <input type="text" name="state" th:value="*{state}" placeholder="State"/>
    <input type="text" name="streetAddress" th:value="*{streetAddress}" placeholder="Street Address"/>
    <input type="text" name="zipCode" th:value="*{zipCode}" placeholder="Zip code"/>
    <input type="text" name="building" th:value="*{building}" placeholder="Building"/>
    <input type="text" name="latitude" id="latitude" th:value="*{longitude}" onFocus="geolocate()" placeholder="Latiude"/>
    <input type="text" name="longitude" id="longitude" th:value="*{longitude}" placeholder="Longitude"/>
    <input type="submit" value="Submit">
</form>
<script>
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
            });
        }
    }
</script>
</body>
</html>