<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voulunteer settings</title>
  <link href="../static/css/settings.css" th:href="@{/css/main.css}" rel="stylesheet" />
  <link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="wrapper">
    <header class="header-area">
      <div class="nav-bar"></div>
      <nav class="menu">
        <div class="logo-container">
          <h4>Covid-19 Help</h4>
        </div>
        <div class="status">
          <p><span class="primary-color">10 people</span> near you need your help</p>
        </div>
        <div class="settings">
          <a href="volunteer-page.html"><i class="fas fa-user"></i></a>
        </div>
      </nav>
    </header>
    <div class="content">
      <header>
        <div class="text-container">
          <span class="section-title">Volunteer</span>
          <h2>Duca Stefan</h2>
        </div>
        <div class="container-nav">
          <nav class="settings-sub-menu">
            <ul class="sub-menu">
              <li class="active"><a href="v-settings-change-location.html">Change location</a></li>
              <li><a href="v-settings-change-pass.html">Change password</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container-settings">
        <div class="current-location">
          <p>Your current location: <span class="primary-color">current user street</span> </p>
          <input id="location-input" type="text" placeholder="Set a new location">
        </div>
        <div class="change-distance">
          <p>Find people in range of: <span id="value-slider"></span></p>
          <input type="range" min="1" max="1000" value="50" class="slider" id="myRange">
        </div>
      </div>
      <div id="map"></div>
    </div>
    <footer>
      <p>Copyright 2020</p>
    </footer>
  </div>
  <!-- Js Here -->
  <script src="https://kit.fontawesome.com/210d8f95c9.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../static/js/settings.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg1JODSmlEdCOhRbHt8z0a4NS8FH_-h6k&libraries=places&callback=initAutocomplete"
    async defer></script>
</body>

</html>