<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voulunteer settings</title>
    <link href="../static/css/settings.css" th:href="@{/css/settings.css}" rel="stylesheet"/>
    <link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="wrapper">
    <header th:insert="header-area-to-volunteer"></header>
    <div class="content">
        <header>
            <div class="text-container">
                <span class="section-title">Volunteer</span>
                <h2><span th:text="${#request.userPrincipal.principal.username}"></span></h2>
            </div>
            <div class="container-nav">
                <nav class="settings-sub-menu">
                    <ul class="sub-menu">
                        <li><a href="/volunteer/preferences/change-location">Change location</a></li>
                        <li class="active"><a href="/volunteer/preferences/change-location">Change password</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container-settings">
            <p>Change your password :</p>
            <div class="container-inputs">
                <form method="post" action="/volunteer/preferences/change-password" class="j-change-password-form" th:object="${changePasswordDto}">
                    <div class="form-action">
                        <input type="password" placeholder="Your old password" autocomplete="old-password"
                               name="oldPassword"
                               th:value="*{oldPassword}"
                               id="old-password"
                               th:classappend="${#fields.hasErrors('oldPassword')} ? 'border-error-color' : ''"
                               required>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('oldPassword')}"
                           th:errors="*{oldPassword}"></p>
                    </div>
                    <div class="form-action">
                        <input type="password" placeholder="Your new password" autocomplete="new-password"
                               name="newPassword"
                               id="new-password"
                               th:value="*{newPassword}"
                               th:classappend="${#fields.hasErrors('newPassword')} ? 'border-error-color' : ''"
                               class="j-new-password" required>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('newPassword')}"
                           th:errors="*{newPassword}"></p>
                    </div>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>
        <div class="load-more-container">
            <a class="btn j-change-password" href="#">Change password</a>
        </div>
    </div>
    <footer>
        <p>Copyright 2020</p>
    </footer>
</div>
<meta id="message-generic-required" th:content="#{messages.errors.generic.required}">
<meta id="message-generic-min" th:content="#{messages.errors.generic.min}">
<meta id="message-password-validation" th:content="#{messages.errors.password.validation}">

<!-- Js Here -->
<script src="https://kit.fontawesome.com/210d8f95c9.js"></script>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script th:src="@{/js/change-password.js}" src="../static/js/change-password.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165400143-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165400143-1');
</script>
</body>

</html>