<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <title>Voulunteer dashboard</title>
  <link href="../static/css/volunteer.css" th:href="@{/css/main.css}" rel="stylesheet" />
  <link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="wrapper">
    <header class="header-area">
      <div class="nav-bar"></div>
      <nav class="menu">
        <div class="logo-container">
          <h4>Covid-19 Help</h4>
        </div>
        <div class="status">
          <p><span class="primary-color">10 people</span> near you need your help</p>
        </div>
        <div class="settings">
          <i class="fas fa-cog"></i>
        </div>
      </nav>
    </header>
    <div class="content">
      <header>
        <div class="text-container">
          <span class="section-title">Volunteer</span>
          <h2>Duca Stefan</h2>
        </div>
        <nav>
          <ul class="sub-menu">
            <li class="active"><a href="#">People who needs help</a></li>
            <li><a href="#">Helped people</a></li>
          </ul>
        </nav>
      </header>
      <div class="container-people">
        <p>Over here you have the people near you who needs your help.</p>
        <div class="holder-people">
          <div class="distance">
            <span>30 miles away</span>
          </div>
          <div class="name">
            <span>John</span>
          </div>
          <div class="telephone-number">
            <span>202-555-0102</span>
          </div>
          <div class="started-helping">
            <button class="btn-helping">I started helping</button>
          </div>
        </div>
        <div class="holder-people">
          <div class="distance">
            <span>30 miles away</span>
          </div>
          <div class="name">
            <span>John</span>
          </div>
          <div class="telephone-number">
            <span>202-555-0102</span>
          </div>
          <div class="started-helping">
            <button class="btn-helping">I started helping</button>
          </div>
        </div>
        <div class="holder-people">
          <div class="distance">
            <span>30 miles away</span>
          </div>
          <div class="name">
            <span>John</span>
          </div>
          <div class="telephone-number">
            <span>202-555-0102</span>
          </div>
          <div class="started-helping">
            <button class="btn-helping">I started helping</button>
          </div>
        </div>
        <div class="holder-people">
          <div class="distance">
            <span>30 miles away</span>
          </div>
          <div class="name">
            <span>John</span>
          </div>
          <div class="telephone-number">
            <span>202-555-0102</span>
          </div>
          <div class="started-helping">
            <button class="btn-helping">I started helping</button>
          </div>
        </div>
        <div class="holder-people">
          <div class="distance">
            <span>30 miles away</span>
          </div>
          <div class="name">
            <span>John</span>
          </div>
          <div class="telephone-number">
            <span>202-555-0102</span>
          </div>
          <div class="started-helping">
            <button class="btn-helping">I started helping</button>
          </div>
        </div>
      </div>

    </div>
    <div class="load-more-container">
      <a class="btn" href="#">Load More</a>
    </div>
    <footer>
      <p>Copyright 2020</p>
    </footer>
  </div>
  <!-- Js Here -->
  <script src="https://kit.fontawesome.com/210d8f95c9.js"></script>
</body>

</html>