<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voulunteer dashboard</title>
    <link th:href="@{/css/volunteer.css}" rel="stylesheet" />
    <link th:href="@{/css/normalize.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="wrapper">
    <header th:insert="header-area-change-location"></header>
    <div class="content">
        <header>
            <div class="text-container">
                <span class="section-title">Volunteer</span>
                <h2 th:text="${currentUser.name}"></h2>
            </div>
            <div class="container-nav">
                <nav class="profile-sub-menu">
                    <ul class="sub-menu">
                        <li><a th:href="@{/volunteer/need-help}">Help people</a></li>
                        <li class="active mirror"><a th:href="@{/volunteer/}">Helped people</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <p class="info">People you are helping right now.</p>
        <div class="holder-people">
            <div class="distance">
                <span> Distance </span>
            </div>
            <div class="name">
                <span> Name </span>
            </div>
            <div class="telephone-number">
                <span> Phone Number </span>
            </div>
            <div class="stop-helping">
            </div>
        </div>
        <div th:insert="users-table"></div>
    </div>
    <div class="load-more-container"  th:if="${#lists.size(users) >= 5}">
        <a class="btn" href="#" id="load-more">Load More</a>
    </div>
    <footer>
        <p>Copyright 2020 COVID19HELPUSA.COM</p>
    </footer>
</div>
<meta id="need-help" content="findNextOrdered"/>

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<!-- Js Here -->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="https://kit.fontawesome.com/210d8f95c9.js"></script>
<script th:src="@{/js/volunteer.js}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165400143-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165400143-1');
</script>

</body>

</html>